<div id="carousel" class="carousel slide" data-ride="carousel">

    <!-- Menu -->
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>

    <!-- Items -->
    <div class="carousel-inner">
        <div class="item active">
            <%= image_tag "photo7.jpg" %>
            <div class="first-carousel-caption">
              <h1>Match Me</h1>
              <h3>Find The Personality Of Your Match</h3>
              <a class="btn btn-default btn-lg btn-block" href="#" role="button">Find Your Personality</a>
            </div>
        </div>
        <div class="item">
            <%= image_tag "photo5.jpg" %>
            <div class="carousel-caption">
              <h1>John and Julia</h1>
              <h3>July 31 2015</h3>
            </div>
        </div>
        <div class="item">
            <%= image_tag "photo9.jpg" %>
            <div class="carousel-caption">
              <h1>Kris and Georgiana</h1>
              <h3>August 3 2015</h3>
            </div>
        </div>
        <div class="item">
            <%= image_tag "photo6.jpg" %>
            <div class="carousel-caption">
              <h1>Matt and Kristin</h1>
              <h3>January 1 2015</h3>
            </div>
        </div>
    </div>
    <a href="#carousel" class="left carousel-control" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a href="#carousel" class="right carousel-control" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
