<img src="http://placekitten.com.s3.amazonaws.com/homepage-samples/200/138.jpg" alt="" class="img-rounded">
<div>
  <p>
    <%= image_tag(current_user.largeimage)%>
  </p>
  <p><%= @user.email %></p>
  <p>About Me</p>
  <p><%= @user.description %></p>
</div>

<h3>Potential Matches</h3>
