<div class="assessment"></div>​
<script>
  Traitify.setPublicKey("vb5317e0pcurjt9hn382bbe8it");
  Traitify.setHost("https://api-sandbox.traitify.com");
  Traitify.setVersion("v1");
  var assessmentId = 'd42bb058-ee15-4ba3-b816-fc5f438ae680';
  Traitify.ui.load(assessmentId, ".assessment")
</script>​
